<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div display="flex" justifyContent="center">
        <img src="https://github.com/PlanPerfect/PlanPerfect-Assets/blob/main/Text.png?raw=true" width="300px">
    </div>
    <h2>Welcome to PlanPerfect!</h2>
    <p>Dear {{username}},</p>
    <p>Thank you for joining PlanPerfect! We are thrilled to have you on board. Your account has been successfully created, and you can now start building your dream home.</p>
    <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
    <p>We hope you enjoy your experience with PlanPerfect!</p>
    <p>Best regards,<br>
        The PlanPerfect Team
    </p>
    <br>
    <p>© 2026 The PlanPerfect Team. All rights reserved.</p>
</body>
</html>